body, html {
     height:100%;
}

.gradient {
    height:100%;
	
	
	width: 100%;
    background: linear-gradient(#342009 0%, red 30%);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.logo {
    position:fixed;
    top: 5%;
    left: 5%;   
}	


.oops {
	border: 1px hidden white;
	font-size: 114px;
	text-align:center;
	letter-spacing: 1px;
	line-height: 100px;
	margin-top: 80px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
	width: 300px;
	height: 100px;
	padding-left: -18px; 
	padding-right: 18px;
}

.error {
	border: 1px hidden white;
	font-size: 40px;
	font-family:Roboto;
	letter-spacing: 45px;
	text-align: center;
	margin-top: -30px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 40px;
	padding: 0px:
}

.box2 {
	border: 1px hidden white;
	background-color:white;
	font-size: 110px;
	line-height: 90px;
	text-align: center;
	letter-spacing: 20px;
	width: 300px;
	height: 100px;
	margin-top: 5px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: -6x;
	vertical-align: middle;
}



.boxed {
	border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 stretch; 
    border-image: url(border.png) 30 stretch;
	border-radius: 5px;
	font-size:17px;
	padding:17px;
	font-family:Roboto;
	text-align:center;
    margin-left: auto;
	margin-right: auto;
	width: 850px;
	height: 69px;
    vertical-align: middle;	
}

.button {
    margin-top: 50px;
    margin-left: 575px;
	margin-bottom: 100px;
	margin-top: 50px;
	border-radius: 80px;
    background-color: #ff0000;
    color: #ffffff;
    border: 2px solid #555555;
	border-radius: 3px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    
}

.button:hover {
	background-color: #555555;
    color: white;
}

a:link, a:visited {
	margin-top: 40px;
    margin-left: 565px;
	margin-bottom: 90px;
    background-color: #ff0000;
	font-family:Roboto;
	font-weight:bold;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width: 180px;
	font-size: 28px;
	border: 3px solid #ff9898;
	border-radius: 80px;
	
}


a:hover, a:active {
    background-color: #ffffff;
	color: #ff0000;
	font-family:Roboto;
	opacity: 1.7;

}






































